.login{
    padding-top: 50px;
    display: flex;  
    
    .imagelogin{
        width: 50%;
    }

    .right-column{
        width: 50%;
        display: flex;  
        justify-content: center;
        align-items: center;
        
        a{
            text-decoration: none;
        }
        
        
        .login-form{
            text-align: center;
            margin-bottom: 90px;
            max-width: 350px;
            display: flex;
            flex-direction: column;
           

            h2{
            text-align: start;
            padding-left: 30px;
            font-size: 34px;
            }
            p{
                text-align: start;
                padding-left: 30px;
                font-size: 18px;
            }
        
        
        .form {
            margin: 0;
            margin: 30px;
            
            .input-box{
            max-width: 300px;
            margin-bottom: 50px;

            button{
                font-size: 20px;
                width: 300px;
                height: 50px ;
                color: white;
                border-radius:6px;
                background-color:rgba(241, 77, 77);
            }
            input{
                width: 300px;
                height: 50px;
                padding-left: 5px;
                border-right: 0 ;
                border-left: 0;
                border-top: 0;
            }  
            }
    }
}
    }    
}
